#editor{
    text-align: center;
    padding: 1%;
}

#zoo{
    padding: 1%;
    margin: 0 auto;
}

#container{
    margin: 5%;
    margin-top: 1%;
}

#monsterPreview {
    border: 2px solid black;
    height: 60px;
    width: 20%;
    margin: 0 auto;
}

#select-text {
    float:left;
}

#region-select {
    margin-left: 2%;
    margin-top: 0.5%;
}

.panel{
    border: solid black 1px;
    margin-top: 2%;
    padding: 1%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(2rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > * {
  background: white;
  border: 1px black solid;
}

.tile {
    width: 100%;
    height: 100%;
}

#canvas {
    border: 2px solid black;
}   

.greeting .greetingText {
    visibility: visible;
    width: 150px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 161, 11);
    border-color: rgb(83, 78, 7);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    position: absolute;
}